@model IEnumerable<Funeraria.Dependentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataObto_dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNasc_dep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conveniados.Descricao_con)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoParentesco.Descricao_par)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_dep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataObto_dep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNasc_dep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conveniados.Descricao_con)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoParentesco.Descricao_par)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
