@model IEnumerable<Funeraria.TipoContrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao_tco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorContrato_tco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao_tco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorContrato_tco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codigo_tco }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codigo_tco }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codigo_tco })
        </td>
    </tr>
}

</table>
