@model IEnumerable<Funeraria.Finaceiro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataVencimento_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagamento_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorDebito_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPago_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conveniados.Descricao_con)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DataVencimento_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorDebito_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPago_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conveniados.Descricao_con)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
