@model Funeraria.Cidade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao_cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao_cid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabEstado.DescricaoUf_unf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabEstado.DescricaoUf_unf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabIbge.DescricaoIbge_ibg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabIbge.DescricaoIbge_ibg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sequencia_cid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
